html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Fira Mono", monospace;
  font-size: 14px;
  line-height: 14px;
  background: #fff;
  color: #000;
}
.right {
  float: right;
}
svg {
  fill: currentColor;
}
.centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*************************** APP main */
.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;
}
.app .layout {
  height: calc(100% - 8px);
  transition: height 200ms ease-out;
}
/*************************** GRID */
.gutter.gutter-horizontal {
  cursor: ew-resize;
  float: left;
  height: 100%;
  background: #eaeaea;
}
.gutter.gutter-vertical {
  cursor: ns-resize;
  width: 100%;
  background: #eaeaea;
}
/*************************** CODE EDITOR */
.editor-section {
  vertical-align: top;
  height: 100%;
}
/*************************** CODE MIRROR */
.CodeMirror {
  height: 100%;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  opacity: 1;
}
.CodeMirror-lines {
  padding: 1em;
}
.CodeMirror-selected  {
  background-color: #fff !important;
}
/*************************** OUTPUT PANEL */
.output {
	color: #000;
	padding: 1em;
  position: relative;
  overflow: auto;
}
/*************************** CONSOLE */
.console {
  position: relative;
  overflow: auto;
}
.console p {
  margin: 0;
  padding: 0.5em;
  border-bottom: solid 1px #bbb;
  white-space: pre-wrap;
}
/*************************** JS EDITOR */
.js-code-editor {
  height: 100%;
  width: 100%;
  overflow: auto;
  line-height: 1.3em;
  float: left;
  z-index: 90;
}
/*************************** STATUS BAR */
.status-bar {
  width: 100%;
  height: 8px;
  background: #000;
  cursor: pointer;
  transition: height 200ms ease-out;
  overflow: hidden;
}
.status-bar > div {
  display: none;
}
.status-bar a {
  display: inline-block;
	color: rgb(145, 145, 145);
	text-decoration: none;
	padding: 8px;
  cursor: pointer;
}
.status-bar a:hover {
  background: #141414;
}
.status-bar a.active {
  color: #FFF;
}
.status-bar a svg {
  transform: translateY(3px);
}
/*************************** POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8100;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity ease 200ms, width ease-out 200ms;
  -webkit-transition: opacity ease 200ms, width ease-out 200ms;
  opacity: 0;
}
.popup section {
  position: absolute;
  min-width: 600px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  padding: 1em;
  background: rgb(46, 46, 46);
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,1);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,1);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.popup section.multiple-pages {
  padding: 0;
}
.popup .close {
  background: none;
  color: #FFF;
  border: none;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  cursor: pointer;
  outline: none;
}
.popup .close:hover {
  color: #999;
  background: none;
}
.popup .multiple-pages .close {
  top: 4px;
  right: 0px;
}
.popup p {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.2em;
}
.popup h1 {
  padding: 0;
  margin: 1em 0;
}
.popup h2 {
  padding: 0;
  margin: 0 0 1em 0;
}
.popup button {
  padding: 0.6em 1em;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  border: solid 2px #525252;
  color: #FFF;
  outline: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
.popup button:hover {
  background: #313131;
}
.popup .right {
  float: right;
}
.popup .secondary span {
  display: inline-block;
  transform: translateY(-5px);
  margin-left: 7px;
}
.popup hr {
  margin: 1em 0;
  border-color: #313131;
}
.popup input, .popup textarea {
  width: 100%;
  border: solid 1px #525252;
  padding: 0.6em;
  display: block;
  border-radius: 4px;
  outline: none;
  margin-bottom: 1em;
}
.popup textarea {
  height: 162px;
}
.popup a {
  color: inherit;
}
.popup a:hover {
  text-decoration: none;
}
.popup .sub-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #404040;
}
.popup .sub-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: #404040;
}
.popup .sub-nav li a {
  display: block;
  text-decoration: none;
	padding: 1em;
  text-transform: uppercase;
  border-right: solid 1px #0e0e0e;
}
.popup .sub-nav li a:hover {
  color: #999;
}
.popup .sub-nav li.active {
  background: #2e2e2e;
}
.popup .content {
  padding: 1em;
}
.popup .layout a {
  display: inline-block;
  padding: 4px;
  border: solid 2px #525252;
  line-height: 0;
  margin-right: 0.4em;
  margin-bottom: 1em;
}
.popup .layout a:hover {
  border-color: #000;
}
/*************************** SPINNER */
@keyframes bubble {
  0%   { transform: scale(0.5); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(0.5); }
}
.spinner {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 10px;
  animation: bubble 1.0s infinite;
  -webkit-animation: bubble 1.0s infinite;
}