html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Verdana;
  color: #000;
  font-size: 20px;
  line-height: 20px;
  background: #000;
}
.centered {
  text-align: center;
  display: block;
}
svg {
  fill: currentColor;
}
.editor {
  background-color: #263238;
}
.left, .right {
  vertical-align: top;
  float: left;
  height: 100%;
}
/*************************** CODE MIRROR */
.CodeMirror {
  height: 100%;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  opacity: 1;
}
.CodeMirror-lines {
  padding: 1em;
}
.CodeMirror-selected  {
  background-color: #fff !important;
}
.CodeMirror-selectedtext {
  color: #000 !important;
}
/*************************** OUTPUT PANEL */
.output {
  background-color: #c7e2e5;
	font-size: 1em;
	line-height: 1.2em;
	color: #000;
	padding: 1em;
  position: relative;
  overflow: auto;
}
.output .hint {
  font-size: 1em;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 96px);
  opacity: 0.4;
}
.output p {
  font-size: 1.4em;
	margin: 0;
  padding: 0 0 0.5em 0;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.output button {
  font-size: 1em;
  padding: 0.6em 1em;
  background: #263238;
  color: #FFF;
  cursor: pointer;
  border-radius: 4px;
}
/*************************** CONSOLE */
.console {
  font-family: monospace;
	background-color: #ccd7d8;
	font-size: 0.8em;
	line-height: 1em;
	color: #000;
  position: relative;
  overflow: auto;
}
.console .hint {
  font-size: 1em;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 52px);
  opacity: 0.4;
}
.console p {
  margin: 0;
  padding: 0.5em;
  border-bottom: solid 1px #bbb;
  white-space: pre-wrap;
  font-size: 0.9em;
}
/*************************** JS EDITOR */
.js-code-editor {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
  font-size: 20px;
  line-height: 28px;
}
/*************************** FILES */
.files {
  height: 40px;
  background: #141b1f;
	border-bottom: solid 2px #000;
}
.files ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.files ul li {
  margin: 0;
  padding: 0;
  float: left;
}
.files ul li a, .files ul li > span {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	font-size: 0.7em;
	padding: 0.65em 1.4em;
	opacity: 0.3;
	border-left: solid 2px #000;
}
.files ul li a.active {
  opacity: 1;
  color: #bbb;
	background: #263238;
	border-bottom: solid 2px #263238;
}
.files ul li a.active:hover {
	border-bottom: solid 2px #263238;
}
.files ul li a:hover {
	border-bottom: solid 2px #fff;
}
.files .options {
  float: right;
}
.files .options ul li a, .files .with-icons li a {
  padding: 0.3em 1em;
}
.files .options svg, .files .with-icons svg {
  transform: translateY(4px);
}
/*************************** GRID */
.gutter.gutter-horizontal {
  cursor: ew-resize;
  float: left;
  height: 100%;
  background: #fff;
}
.gutter.gutter-vertical {
  cursor: ns-resize;
  width: 100%;
  background: #fff;
}
/*************************** PAGE */
.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #FFF;
  display: none;
  z-index: 8000;
  opacity: 0;
  transition: opacity 200ms ease-out, transform 200ms ease-out;
  -webkit-transition: opacity 200ms ease-out, transform 200ms ease-out;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}
/*************************** OPTIONS TYPE OF PAGE */
.options section {
  width: 600px;
  margin: 0em auto;
  padding-top: 2em;
}
.options p {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.2em;
}
.options h1 {
  padding: 0;
  margin: 1em 0;
}
.options h2 {
  padding: 0;
  margin: 1em 0;
}
.options button {
  font-size: 0.7em;
  padding: 0.6em 1em;
  background: #44565f;
  cursor: pointer;
  border-radius: 4px;
  border: solid 2px #758c98;
  color: #000;
  outline: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
.options button:hover {
  background: #c0d7e2;
}
.options .right {
  float: right;
}
.options .secondary {
  border: solid 1px #4a4a4a;
  background: none;
  color: #999;
}
.options .secondary span {
  display: inline-block;
  transform: translateY(-5px);
  margin-left: 7px;
}
.options .secondary:hover {
  color: #000;
}
.options hr {
  margin: 2em 0;
    border-color: #313131;
}
.options input, .options textarea {
  width: 100%;
  border: none;
  font-size: 1em;
  padding: 0.6em;
  display: block;
  border-radius: 4px;
  outline: none;
  margin-bottom: 1em;
}
.options textarea {
  height: 162px;
}
.options a {
  color: #fff;
}
.options a:hover {
  text-decoration: none;
}
.options .cancel {
  position: absolute;
  top: 2em;
  right: 2em;
}
/*************************** STORAGE */
.storage span, .dependencies span {
  display: inline-block;
  transform: translateY(-3px);
  margin-left: 7px;
}
/*************************** DEPENDENCIES */
.manage-dependencies textarea.dependencies-list {
  height: 300px;
}
/*************************** PRELOADER */
.dependencies {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  opacity: 0;
}
.dependencies .logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.dependencies .progress {
  margin-top: 2em;
  margin-bottom: 0.5em;
  width: 200px;
  height: 10px;
  background: rgb(46, 46, 46);
}
.dependencies .value {
  width: 0;
  height: 100%;
  background: rgb(121, 121, 121);
}
.dependencies .file {
  font-size: 0.6em;
  margin: 1em 0 0 0;
  padding: 0;
  color: rgb(177, 177, 177);
}
/*************************** preloader */
.home {
  color: #FFF;
}
.home .as-button {
  height: 100%;
  padding: 10em 2em 5em 2em;
  cursor: pointer;
}
.home .notClickable {
  height: 100%;
  padding: 10em 2em 5em 2em;
}
.home .as-button:hover, .home .notClickable:hover {
  background-color: rgb(14, 14, 14);
}
.home .as-button svg, .home .notClickable svg {
  width: 48px;
  display: block;
  margin: 0 auto 1em auto;
}
.home .notClickable a {
  color: #FFF;
  display: block;
  margin: 0 0 0.4em 0;
  font-size: 1.2em;
}
.home .notClickable a:hover {
  color: #44565f;
}
.home h2 {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1em;
  text-align: center;
  color: inherit;
}
.home p {
  color: inherit;
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 0.7em;
  line-height: 1.2em;
  color: #999;
  text-align: center;
}
.home hr {
  margin-bottom: 1em;
  border-top: none;
  border-bottom: dotted 1px #404040
}